html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: white;
}

input[type="text"]:focus {
	border-color: white;
}

body {
	background: black;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	border-bottom: 1px solid white;
}

header a#logo {
	display: inline-block;
	padding: 10px;
	border-right: 1px solid white;
	margin: 0 10px 0 0;
}

header#build_header #view {
	margin: 0 0 0 10px;
}

/*#select_race {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 5px;
	font-size: 12px;
}*/

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

form {
	display: block;
	width: 100%;
}

#race-select {
	display: inline;
	text-align: center;
	font-size: 12px;
	border-right: 1px solid white;
	margin: 0 10px 0 5px;
}


#race-select p {
	display: inline;
	margin: 0 5px 0 0;
}

#race-select label {
	font-size: 0;
	display: inline;
	cursor: pointer;
}
#race-select label:hover {
	color: orange;
}
#race-select label:after {
	content: " - ";
	font-size: 12px;
	margin: 0 5px 0 10px;
}
#race-select label:last-child:after {
	content: "";
}
#race-select div {
	font-size: 12px;
	display: inline;
	cursor: pointer;	
	font-weight: bold;
}

#spacemarines_button {
	background: url('images/races/spacemarines_simple.png');
}

#orks_button {
	background: url('images/races/orks_simple.png');
}

#eldar_button {
	background: url('images/races/eldar_simple.png');
}

#menu {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 0 0 10px 0;
	vertical-align: middle;
	font-size: 12px;
}

#sub_menu {
	border-top: 1px solid white;
	display: block;
	font-size: 12px;
}

#sub_menu p {
	display: inline-block;
}

#sub_menu p input {
	background: black;
	color: orange;
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid orange;
	padding: 2px;
	border-radius: 2px;
	margin: 0 10px 0 0;
}

#sub_menu .left, #sub_menu .right {
	padding: 5px;
}

#sub_menu a {
	padding: 8px 0;
	margin: 0 10px 0 0;
}

#menu a {
	margin: 0 10px 0 0;

}

#menu a img, #sub_menu a img {
	margin-bottom: -3px;
	margin-right: 5px;
}

#menu a:hover img, #sub_menu a:hover img {
	filter: brightness(0) invert(1);
}

.sub_menu_section {
	display: inline-block;
	border-right: 1px solid white;
	padding: 8px 5px 8px 10px;
	font-size: 12px;
}

.sub_menu_section p {
	margin: 0 5px 0 0;
}

.sub_menu_section a {
	border-right: none;
	font-size: 12px;
	/*margin: 0 5px 0 0;*/
}

.sub_menu_section input {
	margin: 0 5px 0 0;
	background: black;
	color: orange;
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid orange;
	padding: 2px;
	border-radius: 2px;
	min-width: 200px;
}

.sub_menu_section #searchButton {
	background: url('images/search.png') no-repeat;
	margin-top: 4px;
	margin-left: -28px;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
}

.sub_menu_section #searchButton:hover {
	filter: brightness(0) invert(1);
}

#sign-in-status {
	display: inline;
	padding: 0 10px 0 5px;
	/*border-right: 1px solid white;*/
}

button {
	display: inline;
	border: none;
	background: none;
	color: orange;
	font-family: 'Roboto Condensed', sans-serif;
	cursor: pointer;
	border-right: 1px solid white;
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	font-size: 12px;
}

button:hover {
	color: white;
}

button img {
	margin-bottom: -3px;
	margin-right: 5px;
}

button:hover img {
	filter: brightness(0) invert(1);
}

a#copy {
	cursor: pointer;
}

#user_menu {
	display: inline;
}

#user_menu div {
	display: inline;
	padding: 0 10px 0 5px;
	border-right: 1px solid white;
}

#user_menu p {
	display: inline;
}

#notice, #error, #warning {
	display: block;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 8px 20px;
	font-size: 14px;
	border-bottom: 1px solid white;
	display: none;
}

#notice {
	background: #2c722c;
}

#warning {
	background: yellow;
	color: black;
}

#error {
	background: #933;
}

#error a {
	color: white;
	text-decoration: underline;
}

#error a:hover {
	color: orange;
}

section {
	padding: 20px;
}

section#build_section {
	text-align: center;
}

table {
	width: 100%;
}

table#build_table {
	width: initial;
	display: inline-block;
}

table th {
	text-align: center;
	padding: 5px 20px;
}

table th h1 {
	font-size: 24px;
	line-height: 2em;
}

table th h3 {
	font-size: 16px;
}


table td {
	padding: 15px 10px;
	/*border: 1px solid white;*/
	border-right: 1px solid white;
	text-align: center;
	vertical-align: top;
}

table tr td:last-child {
	border-right: none;
}

table td.elites {
	width: 15%;
	/*min-width: 300px;*/
}

table td.eliteDoctrines {
	width: 10%;
}

table td.eliteDoctrines label {
	display: block;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  border-radius: 3px;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid yellow;
}
#race-select label > input + div{
	border: none;
}
#race-select label > input:checked + div{
	background-position: top;
	color: orange;
}
#race-select label:hover > div {
	background-position: top;
	color: orange;
}
label.disabled img {
	filter: grayscale(100%);
}
label.used img {
	opacity: 0;
}

.eliteDocs {
	display: none;
}

.tooltips {
	border-width: 1px !important;
	padding: 0px !important;
	border-color: #ffa500;
	border-style: solid;
	border-radius: 5px;
	background: black;
	color: white;
}

.ui-tooltip-content {
	padding: 10px;
	font-size: 12px;
	line-height: 18px;
}

.tooltips h2 {
	font-size: 16px;
	color: #fff7c2;
	margin: 0 0 5px 0;
}

.tooltips h3 {
	font-size: 14px;
	margin: 0 0 5px 0;
}

.ui-tooltip-content::after, .ui-tooltip-content::before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.bottom .ui-tooltip-content::after {
    border-color: rgba(118, 118, 118, 0);
    border-top-color: #ffa500;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.bottom .ui-tooltip-content::before {
    border-color: rgba(118, 118, 118, 0);
    border-top-color: #767676;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.top .ui-tooltip-content::after {
    top: -10px;
    left: 50%;
    border-color: #ffa500 transparent;
    border-width: 0 10px 10px;
    margin-left: -10px;
}

.top .ui-tooltip-content::before {
     border-color: rgba(118, 118, 118, 0);
     border-bottom-color: #767676;
     top: -11px;
     left: 50%;
     border-width: 0 11px 11px;
     margin-left: -11px;
}

.bottom.left .ui-tooltip-content::after, 
.bottom.left .ui-tooltip-content::before,
.top.left .ui-tooltip-content::after,
.top.left .ui-tooltip-content::before
{
	left: 25%;
}

.selected_title {
	margin: 20px 0 0 0;
}

table#build_table tr td {
	vertical-align: middle;
}

.build_races img, .build_elites img, .build_doctrines img, .build_elite_docs {
	display: none;
}
.build_elites img {
	/*margin: 0;*/
}

#description_holder {
	width: 80%;
	display: block;
	margin: 0 auto;
}

#description_holder h1 {
	text-align: center;
	margin: 0 0 10px 0;
}

#description_holder textarea {
	padding: 10px;
	min-height: 300px;
	background: #171717;
	color: white;
	border: 1px solid orange;
	border-radius: 2px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5em;
}

table#build_list {
	font-size: 14px;
}

table#build_list td {
	vertical-align: middle;
	border-right: none;
	/*border-bottom: 1px dotted white;*/
}

table#build_list tr:nth-child(2n) {
	background: #141414;
}

table#build_list td img {
	width: 40px;
	height: auto;
	margin: 0 5px;
}

table#build_list td img:nth-last-child(1) {
	margin: 0;
}

table#build_list th {
	font-size: 16px;
	padding: 15px 0;
}

table#build_list th#votes_c {
	width: 3%;
}
table#build_list th#favorites_c {
	width: 3%;
}
table#build_list th#race_c {
	width: 3%;
}
table#build_list th#title_c {
	width: 15%;
}
table#build_list th#author_c {
	width: 5%;
}
table#build_list th#date_c {
	width: 5%;
}
table#build_list th.elites_c {
	width: 5%;
}
table#build_list th#doctrines_c {
	width: 7%;
}
table#build_list th#desc_c {
	width: 15%;
}
table#build_list th#view_c {
	width: 8%;
}

table#build_list td.desc {
	vertical-align: middle;
	text-align: left;
	line-height: 1.4em;
	font-weight: normal;
}

#sub_menu a.selected {
	color: yellow;
}